In [10]:
import pandas as pd

test_data = pd.read_json("../data/engineered/presences.json")
preds = pd.read_csv("../predictions/preds.csv", names=["prediction"])

In [12]:
test_data["pred_y"] = preds["prediction"]
test_data[]

      room  building  city  day  month  hour  count
0        5         3     1    9     11     8      4
1       16         2     1   10     11    13      1
2       11         6     1   10     11    15      1
3       22         4     2   13     11    11      7
4       26        14     2   13     11    11      1
...    ...       ...   ...  ...    ...   ...    ...
4562     1         1     1    1     12     9     42
4563     9         4     2    2     12    17     16
4564     1         1     1    3     12     8     47
4565     7         7     1   14     12    17      9
4566     1         1     1   15     12    14     22

[4567 rows x 7 columns]

In [13]:
preds

      prediction
0       1.141786
1       4.981813
2       9.631631
3      36.864313
4       9.716750
...          ...
1137   19.892940
1138   25.920869
1139    9.683694
1140   13.400197
1141    1.416726

[1142 rows x 1 columns]